<div class="row">
  <div class="text-center">
    <h2>著者一覧</h2>
  </div>
  <table class="table table-striped">
    <tr>
      <th>著者名</th>
      <th>投稿された最新書籍</th>
    </tr>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.books.present? ? author.books.last.name : '書籍は投稿されてません' %></td>
      </tr>
    <% end %>
  </table>
  
  
  <!--% @authors.select{|author| author.books.present? }.each do |author| %-->
    
</div>
